extends ../node_modules/jade-bootstrap/_bootstrap
extends ../views/layout.jade
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.inside
		h1 Marketplace Seed
		p Assume person has logged in for now, need to change later
		+a-btn-primary("/browse") Buy
		+a-btn-success("/upload") Sell
		+a-btn-warning("/watchlist") Watchlist
	.featureditems
		h3 Featured Items
	ul
		each item in items
			.outerbox
				.innertext
					.itemtitle
						<a href="/singleItem/#{item.name}">
						h4 #{item.name}
				.imagebox
					img(src='#{"images/" + item.images[0]}',alt='ITEM DP', width='250', height='175')
				.innertext
					//+btn-xs-success("View")
					.buynow
						p Buy Now $#{item.price}
	.footer



