extends ../node_modules/jade-bootstrap/_bootstrap
extends ../views/layout.jade
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.inside
		h1 Marketplace Seed
		p Assume person has logged in for now, need to change later
		+a-btn-primary("/browse") Buy
		+a-btn-success("/upload") Sell
		+a-btn-warning("/watchlist") Watchlist