doctype html
html
	head
		title= title
		extends ../node_modules/jade-bootstrap/_bootstrap
		append styles
			link(rel='stylesheet', href='/stylesheets/style.css')

	block body
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js")
			
		script.
			$( document ).ready(function() {
				if(localStorage.getItem("log") === 'false'){		
					console.log("false");
					$("#divIdlogout").hide();
					$("#divId").show();					
				}else if(localStorage.getItem("log") === 'true'){
					console.log("true");
					$("#divId").hide();
					$("#divIdlogout").show();
				}
			})
			
		script.
			function toggleLogin(user, pass){
				if(user === 'User' && pass === 'Pass'){
					console.log('loggedIn');
					localStorage.setItem("log", "true");					
					$("#divId").hide();
					$("#divIdlogout").show();
				}else{
					console.log('Incorrect');
					localStorage.setItem("log", "false");
					$("#divIdlogout").hide();
					$("#divId").show();	
				}
			}
			
		
	
		+navbar-fixed("Marketplace", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/browse") Buy
			+nav_item("/upload") Sell
			form.navbar-form.navbar-left
				form.form-group(action="/",method="get")
					input.input-block-level(type="text", name="mysearch", placeholder="Search")
					button.btn.btn-small(type="submit") Submit
			form.navbar-form.navbar-right
				div(id="divId")
					+a-btn-success("/login") Login
				div(id="divIdlogout", style="display:none;")
					button(class="btn" onclick="toggleLogin('','')") Logout
			ul.nav.navbar-nav.navbar-right
				+nav_item("/account") Account
				+nav_item("/watchlist") Watchlist
		block content
