extends ../../node_modules/jade-bootstrap/_bootstrap
extends ../layout.jade
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')
block body
	block content
		.inside
			h1 Advanced search page  
			p This will be the advanced search page