extends ../../node_modules/jade-bootstrap/_bootstrap
extends ../layout.jade
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')
block body
	+navbar-fixed("Marketplace", "dropdown_menu")
		+nav_item("/") Browse
		+nav_item("/advanced","active") Buy
		+nav_item("/account") Sell
		form.navbar-form.navbar-right
			form.form-group(action="/",method="get")
				input.input-block-level(type="text", name="mysearch", placeholder="Search")
				button.btn.btn-small(type="submit") Submit
		ul.nav.navbar-nav.navbar-right
			+nav_item("/account") Account
			+nav_item("/account") Watchlist
	block content
		.inside
			h1 Advanced search page  
			p This will be the advanced search page