body {
  //padding: 50px 100px 0px 100px;
  font: 12px "Helvetica", Arial, sans-serif;
}

.navbar {
	background-color:#273d63;
}

.navbar .nav li a {
	color: white;
}

/*text within header square thing. cteating the square around 
that changes size with amount of info within. can have search results
within and will change size to fit and look nice.*/
.inside{
	text-align:center;
	padding: 100px 0px 100px 0px;
	background-color: #EEEEEE;
}

.btn{
	width:85px;
	margin-left: 15px;
}

.btn-xs{
	width:50px;
	float:right;
	margin-top: 10px;
}

.featureditems{
	margin: 0px 6% 0px 6%;
	border-color:#EEEEEE;
	border-bottom: solid;
	border-width:1px;
}

.outerbox{
	float:left;
	margin:2.5% 1% 2.5% 2.5%;
	width:225px;
	overflow:hidden;
	border-color:#EEEEEE;
	border-style:solid;
	border-width:2px;
}

.buynow{
	float:right;
}

.imagebox{
	margin: -10px 0 0 -20px;
	padding-bottom: 5px;
}

.innertext{
	padding:5px 5px 5px 5px;
}

.auction{
	float:left;
}

.itemtitle{
	float:left;
}

.footer{
	background-color:#273d63;
	padding:30px 0px 30px 30px;
	clear:both;
	color:#EEEEEE;
}

/*.footeritems{
	float:left;
}*/
