extends ../../node_modules/jade-bootstrap/_bootstrap
extends ../layout.jade
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')

block body
	+navbar-fixed("Marketplace", "dropdown_menu")
		+nav_item("/", "active") Home
		+nav_item("/browse") Buy
		+nav_item("/upload") Sell
		form.navbar-form.navbar-left
			form.form-group(action="/search",method="get")
				+input-simple("text","mysearch", "Search","")
				button.btn("submit") Search
		form.navbar-form.navbar-right
			+a-btn-success("/login") Login
		ul.nav.navbar-nav.navbar-right
			+nav_item("/account") Account
			+nav_item("/watchlist") Watchlist
	block content
		.inside
			h1 Login 
				div
					input(type="text", id="Username", placeholder="Username", class="form-control" style="width:15%; display:inline;")
				div
					input(type="text", id="Password", placeholder="Password", class="form-control" style="width:15%; display:inline;")		
			button.btn("submit") Login