extends ../../node_modules/jade-bootstrap/_bootstrap
extends ../layout.jade
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')

	
block content
	.inside		
		h1 Login 
			div
				input(type="text", id="Username", placeholder="Username", class="form-control" style="width:15%; display:inline;")
			div
				input(type="text", id="Password", placeholder="Password", class="form-control" style="width:15%; display:inline;")		
		button(class="btn" onclick="toggleLogin('User','Pass')") Login