extends ../../node_modules/jade-bootstrap/_bootstrap
extends ../layout.jade
append styles
	link(rel='stylesheet', href='/stylesheets/style.css')

	
block body
	script.		
		function toggleLogin(user, pass){
			if(user === 'User' && pass === 'Pass'){
				console.log('loggedIn');
				localStorage.setItem("log", "true");
				document.getElementById('divId').style.display = 'none';				
				document.getElementById('divIdlogout').style.display = '';
			}else{
				console.log('Incorrect');
				localStorage.setItem("log", "false");
				document.getElementById('divId').style.display = '';
				document.getElementById('divIdlogout').style.display = 'none';
			}
		}
		
		function checkLoggedIn(){
			if(localStorage.getItem("log") === false){				
				document.getElementById('divId').style.display = 'none';				
				document.getElementById('divIdlogout').style.display = '';
				return true;
				
			}else{
				
				document.getElementById('divId').style.display = '';
				document.getElementById('divIdlogout').style.display = 'none';
				return false;
			}
		}
		
	
	+navbar-fixed("Marketplace", "dropdown_menu")
		+nav_item("/", "active") Home
		+nav_item("/browse") Buy
		+nav_item("/upload") Sell
		form.navbar-form.navbar-left
			form.form-group(action="/search",method="get")
				+input-simple("text","mysearch", "Search","")
				button.btn("submit") Search
		form.navbar-form.navbar-right
			div(id="divId")
				+a-btn-success("/login") Login
			div(id="divIdlogout" style="display:none;")
				+a-btn-success(onclick="toggleLogin('','')" href="/login") Logout
		ul.nav.navbar-nav.navbar-right
			+nav_item("/account") Account
			+nav_item("/watchlist") Watchlist
	block content
		.inside		
			h1 Login 
				div
					input(type="text", id="Username", placeholder="Username", class="form-control" style="width:15%; display:inline;")
				div
					input(type="text", id="Password", placeholder="Password", class="form-control" style="width:15%; display:inline;")		
			button(class="btn" onclick="toggleLogin('User','Pass')") Login