extends ../../node_modules/jade-bootstrap/_bootstrap

block body
    +navbar("Marketplace", "dropdown_menu")
        +nav_item("/", "active") Home
        +nav_item("/advanced") Advanced Search
        +nav_item("account") Account
    .container
        h1 Upload item
        .container
            p This will be the upload item page
