extends ../../node_modules/jade-bootstrap/_bootstrap
extends ../layout.jade
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')

block body
    +navbar-fixed("Marketplace", "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/browse") Buy
        +nav_item("/upload") Sell
        form.navbar-form.navbar-left
            form.form-group(action="/search",method="get")
                +input-simple("text","mysearch", "Search","")
                button.btn("submit") Search
        form.navbar-form.navbar-right
            +a-btn-success("/login") Login
        ul.nav.navbar-nav.navbar-right
            +nav_item("/account") Account
            +nav_item("/watchlist","active") Watchlist
    block content
        .headerpad
        .container
            h1 Watchlist
                .ul
                    each item in watchlist
                        .container
                            .jumbotron
                                .row
                                    .col-md-4.col-sm-4.col-xs-12
                                        +img-responsive(item.images[0],"item DP")
                                    .col-md-6.col-sm-6.col-xs-12
                                        p #{item.name}
                                    .col-md-2.col-sm-2.col-xs-12
                                        .singleitemprice
                                            p $#{item.price}
                                .row

                                    .col-md-2.col-sm-2.col-xs-12
                                        //a.btn-lg.btn-success Purchase
                                        +a-btn-success("#") Purchase
                                    .col-md-2.col-sm-2.col-xs-12
                                        //a.btn-lg.btn-success("#/singleItem") View Item
                                        +a-btn-primary("/singleItem") View

                                    .col-md-6.col-sm-6.col-xs-12
                                    .col-md-2.col-sm-2.col-xs-12
                                        //a.btn-lg.btn-danger Remove
                                        +a-btn-danger("/watchlist") Delete


    .footer

